<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>PGES 2018 - $title$</title>
    <link rel="stylesheet" type="text/css" href="/css/master.css" />
		<script>
				function openNav() {
						document.getElementById("menumobile").style.width = "175px";
				}
				function closeNav() {
						document.getElementById("menumobile").style.width = "0";
				} 
		</script>
  </head>
  <body>

		<div id ="nav">

      <a id="logo" href="/"><img src="/files/ui/pges2018.png"</a>
			<div id="menu">
				$partial("templates/menu.html")$
			</div>
			<div id="menulogomobile" onclick="openNav()">
				<img src="/files/ui/menu-icon.png">
			</div>
			<a id="logomobile" href="/">
				<img src="/files/ui/pges2018mobile.png">
			</a>
			<div id="menumobile" class="sidenav">
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
					<img src="/files/ui/menu-close.png">
				</a>
				$partial("templates/menu.html")$
			</div>

    </div>

    <div id="content">
      $body$
    </div>
  </body>
</html>
