<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>PGES 2017 - $title$</title>
    <link rel="stylesheet" type="text/css" href="/css/master.css" />
		<script>
				/* from https://www.w3schools.com/howto/howto_js_sidenav.asp */
				/* and https://stackoverflow.com/a/19074231/429898 */
				function toggleMenuMobile() {
						var m = document.getElementById("menumobile");
						m.style.width = m.style.width == "175px" ? "0px": "175px";
				}
		</script>
  </head>
  <body>

		<div id ="nav">

      <a id="logo" href="/"><img src="/files/ui/pges2017.png"</a>
			<div id="menu">
				$partial("templates/menu.html")$
			</div>
			<div id="menulogomobile" onclick="toggleMenuMobile()">
				<img src="/files/ui/menu-icon.png">
			</div>
			<a id="logomobile" href="/">
				<img src="/files/ui/pges2017mobile.png">
			</a>
			<div id="menumobile" class="sidenav">
				$partial("templates/menu.html")$
			</div>

    </div>

    <div id="content">
      $body$
    </div>
  </body>
</html>
