figure {
	padding-top: 12px;
	text-align: center;
	line-height: 12pt;
}

@media all and (max-width: 650px) {
	figure {
		padding-top: 0px;
		/* height: 300px; */
	}
}

@media all and (min-width: 651px) {
	figcaption { max-width: 200px; }
}

.personPhoto {
	margin: auto;
	width: 150px;
	height: 150px;
	border-radius: 75px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	/* to work, it also requires something like this: */
	/* background: url(./speakers/theirname.jpg) no-repeat; */
}

figure {
	display: inline-grid;
}

figure a{
    border: none;
		text-align: left;
}

/* inline figures (NOT person images?) */

.soft, .caption {
    font-style: italic;
    color: #555;
}

/* allows the table to "collapse" horizontally on small screens */
@media all and (max-width: 650px) {
	table {
		display: inline-block;
	  border-collapse: collapse;
	}
	td.figtd { display: block; }
	/* TODO why does it not work? td.figtd.p { margin: 0; } */
  td.figtd.figure { text-align: center; }
}
