div#lightbox {
    margin: 0px;
    background-color: #fff;
    height: 100%; /* TODO remove? */
    text-align: left; /* TODO remove? */
}

div#lightbox img {
    max-width:  75%;
    max-height: 90%;
    margin: 12px auto 12px auto; /* TODO remove? */
    display: inline-block;
    vertical-align: middle;
}

div#lightbox a {
    border: none;
}

div#lightbox div.pagination {
    font-size: 14px;
    color: #000000;
    display: inline-block;
    vertical-align: middle;
}

div#lightbox div.pagination a {
    color: #000000;
}
