table { 
	/* background-color: #FFFFFF;
	color: #000000; */
	border-collapse: separate;
	/* color: darkgreen; */
}

td { 
	padding: 0px;
}

table tr {
	transition: background 0.2s ease-in;
}


table tr:hover {
	/* background: lightgreen;
	cursor: pointer; */
}

table tr:nth-child(odd) {
	/* background: lightgreen; */
}
